div.sidebar-container {
  position: absolute;
  top: 64px;
  width: 320px;
  bottom: 0px;
  left: 0px;
}

li.nav-item {
  background-color: lightgray;
}

li:hover,
li:active {
  background-color: darkgray;
}

a.nav-link {
  color: black;
}
