.main-content-header-footer {
  position: absolute;
  top: 64px;
  right: 0px;
  bottom: 40px;
  left: 0px;
  overflow: auto;
}

.main-content-header-footer-sidebar {
  position: absolute;
  top: 64px;
  right: 0px;
  bottom: 40px;
  left: 320px;
  overflow: auto;
}
