<div class="container">
  <div class="card">
    <h1 class="card-header">Create Security Exchange</h1>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="was-validated">
        <div class="row my-2">
          <label for="exchange-name" class="col-2 col-form-label">Exchange Name:</label>
          <div class="col-10">
            <input
              id="exchange-name"
              class="form-control"
              [formControl]="exchangeName"
              type="text"
              minlength="3"
              required
              [ngClass]="{ 'is-invalid': exchangeName.invalid }"
            />
            <div class="invalid-feedback">
              <ng-template [ngIf]="exchangeName.errors?.minlength" [ngIfElse]="otherErrors">
                <span>
                  The Exchange Name must be at least {{ exchangeName.errors?.minlength.requiredLength }} characters
                  long.
                </span>
              </ng-template>
              <ng-template #otherErrors>
                <span *ngIf="exchangeName.errors?.required">The Exchange Name is required.</span>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="row my-2">
          <div class="col-10 offset-2">
            <button type="submit" class="btn btn-danger" [disabled]="isButtonDisabled">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
