<div class="container">
  <div class="card">
    <h1 class="card-header">List of Security Exchanges</h1>
    <div class="card-body">
      <table class="table table-striped table-hover" *ngIf="exchangesObs$ | async as exchanges; else loading">
        <thead>
          <tr>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let exch of exchanges">
            <td>{{ exch.name }}</td>
          </tr>
        </tbody>
      </table>

      <ng-template #loading>
        <app-spinner-loader></app-spinner-loader>
      </ng-template>

      <button class="btn btn-primary" routerLink="/exchange/create" [disabled]="isLoading | async">
        Create Security Exchange
      </button>
    </div>
  </div>
</div>
